<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <h1 style="padding: 20px 0;">Welcome to the campgrounds page!</h1>    
        <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
    </header>
    
    <div class="row">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <%= campground.name %> <img src=" <%= campground.image %>" class="img-thumbnail">
            </div>
        <% }); %>
    </div>

</div>


<% include partials/footer %>